.tags {
    background: #fff;
    padding: 5px;
    overflow: hidden;
  }
  
.tag {
    color: #fff;
    font-weight: bold;
    background: #3498db;
    float: left;
    padding: 5px 10px;
    border-radius: 10em;
    margin: 5px;
    height: 30px;
}  
.list {
    width: 40px;
    height: 30px;
    margin-right: 200px;
}
